{% extends 'river_data/base.html' %}

{% block content %}
    <h3>Monitoring Sites</h3>
    <div class="mdl-card mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table full-width shade-first-col">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric ">Site Code</th>
                <th class="mdl-data-table__cell--non-numeric">Site Name</th>
                <th class="mdl-data-table__cell--non-numeric">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"><a href="{% url 'site_details' site.site_code %}">{{ site.site_code }}</a></td>
                    <td class="mdl-data-table__cell--non-numeric">{{ site.site_name }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{% if site.active %}Operational{% else %}Decommissioned{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}