{% extends 'river_data/base.html' %}

{% block content %}
    <h2 class="font-weight-bold">Monitoring Sites</h2>

    <div>
        <table id="sites-table" class="table table-bordered shade-first-col">
            <thead>
            <tr>
                <th scope="col">Site Code</th>
                <th scope="col">Site Name</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td><a href="{% url 'site_details' site.site_code %}">{{ site.site_code }}</a></td>
                    <td>{{ site.site_name }}</td>
                    <td>{% if site.active %}Operational{% else %}Decommissioned{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}