{% extends 'river_data/base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'river_data/stylesheets/site-details.css' %}">
{% endblock %}

{% block content %}
    <h3>{{ site.site_name }}</h3>
    <div class="map-container px-0">
        <div id="map"></div>
        <input type="hidden" id="site-latitude" value="{{ site.latitude }}">
        <input type="hidden" id="site-longitude" value="{{ site.longitude }}">
    </div>

    <div class="row">
        <div class="col-sm-6 col-12">
            <table id="siteDataTable" class="table table-bordered shade-first-col">
                <tr>
                    <td><i class="fas fa-user" aria-hidden="true"></i></td>
                    <td>Site Code</td>
                    <td>{{ site.site_code }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-arrows-alt-v" aria-hidden="true"></i></td>
                    <td>Latitude</td>
                    <td>{{ site.latitude|default:"-" }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-arrows-alt-h" aria-hidden="true"></i></td>
                    <td>Longitude</td>
                    <td>{{ site.longitude|default:"-" }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-ellipsis-h" aria-hidden="true"></i></td>
                    <td>Lat/Long Datum</td>
                    <td>{{ site.vertical_datum|default:"-" }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-arrow-up" aria-hidden="true"></i></td>
                    <td>Elevation (m)</td>
                    <td>{{ site.elevation_m|default:"-" }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-city" aria-hidden="true"></i></td>
                    <td>State</td>
                    <td>{{ site.state|default:"-" }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-flag" aria-hidden="true"></i></td>
                    <td>County</td>
                    <td>{{ site.county|default:"-" }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-tint" aria-hidden="true"></i></td>
                    <td>Watershed</td>
                    <td>{{ site.watershed|default:"-" }}</td>
                </tr>
                <tr>
                    <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                    <td>Site Type</td>
                    <td>{{ site.site_type|default:"-" }}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-6 col-12">
            <div id="imgCarousel" class="carousel slide" data-interval="5000" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for photo in site.photos.all %}
                        <li data-target="#imgCarousel" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for site_image in site.photos.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="d-block" src="{{ site_image.photo.url }}" alt="{{ site_image.photo.name }}">
                        </div>
                    {% empty %}
                        <div class="carousel-item active">
                            <img class="d-block" src="https://uwrl.usu.edu/lro/images/index/digitalmap.jpg" alt="blank image">
                        </div>
                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#imgCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#imgCarousel" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>


    <div class="row mt-4 mb-3">
        <h3 class="most-recent-text 12-col">Most Recent Instantaneous Measurements</h3>
        <span class="most-recent-text">LRO Data are collected using Mountain Standard Time. Timestamps of data are not shifted for daylight saving time.</span>
        <span class="most-recent-text">Please consider this when viewing the data in the sparkline plots below and in the LRO’s other data products available via the Time Series Analyst application and HydroShare.</span>
    </div>

    <div class="row">
        <div class="buttons-toolbar 12-col">
            {% if site.raw_data_download_link %}
            <a class="button-link btn btn-light shadow-sm rounded" href="{{ site.raw_data_download_link }}" target="_blank" role="button">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                Download Raw Data
            </a>
            {% endif %}
            {% if site.controlled_data_download_link %}
            <a class="button-link btn btn-light shadow-sm rounded" href="{{ site.controlled_data_download_link }}" target="_blank" role="button">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                Download Quality Controlled Data
            </a>
            {% endif %}
            {% if site.rating_curve_link %}
                <a class="button-link btn btn-light shadow-sm rounded" href="{{ site.rating_curve_link }}" target="_blank" role="button">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    Explore Rating Curve
                </a>
            {% endif %}
            <a class="button-link btn btn-light shadow-sm rounded" href="/tsa/?sitecode={{ site.site_code }}&view=datasets&plot=false" target="_blank" role="button">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
                View on Time Series Analyst
            </a>
        </div>
    </div>

    <div class="row">
        {% for series in site.active_series %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card plot_box mdl-card shadow rounded" data-id="{{ series.identifier }}" data-influx-url="{{ series.influx_values_url }}">
                    <div class="card-header row">
                        <div class="variable-title-wrapper col-7">
                            <h6 class="variable-title d-inline"
                                title="{{ series.variable_name }}">{{ series.variable_name }}</h6>
                        </div>

                        <div class="col-5">
                            {#  View on TSA button  #}
                            <a target="_blank" class="float-right"
                               data-toggle="tooltip" data-placement="left" title="View full data series"
                               href="/tsa/?sitecode={{ site.site_code }}&variablecode={{ series.variable_code }}&view=visualization&plot=true">
                                <span id="tsa-trigger-{{ forloop.counter0 }}"
                                      class="fas fa-external-link-alt tsa-trigger pull-right text-black"
                                      aria-hidden="false"></span>
                            </a>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row mx-0">
                            <div id="graph{{ forloop.counter0 }}" class="col-12 px-0 graph-container">
                            </div>
                        </div>

                        <div class="variable-data">
                            <div class="row">
                                <div class="col-7">
                                    <small class="text-muted">Last observation </small><br>
                                    <span class="last-observation"></span>
                                </div>
                                <div class="column-expander"></div>
                                <div class="col-5 mt-1 float-right last-value-container">
                                    <h3 class="last-value"></h3>
                                    <h6 class="unit">({{ series.unit_abbreviation }})</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="no_data_msg"><p>Sorry. No data found for this site</p></div>
        {% endfor %}
    <div class="warning-text">
        <span>WARNING: These data may be provisional and subject to revision. The data are released on the condition that Utah State University may not be held liable for any damages resulting from their use.</span>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'river_data/scripts/windrose.js' %}"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static 'river_data/scripts/site-details.js' %}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ5EbbKQj8jxJ83DMDazMBScJ1ZkuaIAE&callback=initMap">
    </script>
{% endblock %}

