#map {
    height: 100%;
}

div.map-container {
    height: 456px !important;
    margin-bottom: 15px;
    border: 1px solid #DDD;
}

.plot_box {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 2px;
}

.plot_box .variable-title {
    font-weight: 500;
    margin: 0;
}

svg.stale {
    background-color: #ffefef;
}

svg.not-stale {
    background-color: #ebffe8;
}

.last-observation {
    display: block;
}

.last-value {
    color: steelblue;
}

.last-value, .unit {
    display: inline-block;
    margin: 0;
}

table tr td:first-child, table tr td:nth-child(2) {
    background: #c2c2c21a;
}

table tr td:first-child {
    width: 30px;
    text-align:center;
}

.text-black {
    color: rgb(34, 34, 34);
}

a.button-link {
    margin-left: 15px;
    margin-bottom: 20px;
    border: #ddd 1px solid;
}

.most-recent-text {
    margin-left: 15px;
}

.variable-data {
    width: 100%;
}

.plot_box .variable-data span {
    line-height: 16px;
    padding: 0;
    margin-bottom: 3px;
}

div.last-value-container {
    text-align: right;
}

.graph-container {
    border: 1px solid #DDD;
    height: 120px;
    margin-bottom: 5px;
}

.graph-container svg {
    width: 100%;
}

.plot_box .card-header {
    margin: 0;
    padding: 12px 0;
}

.plot_box .card-body {
    padding: .9rem;
}

.plot_box a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    float: right;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.plot_box .x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 2px;
}

#imgCarousel {
    width: 100%;
    margin-bottom: 20px;
}

.carousel-inner > .carousel-item > a > img, .carousel-inner > .carousel-item > img {
    margin: auto;
    max-height: 419px;
    width: auto;
}


.carousel-control-next {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}

.carousel-control-prev {
    background-image: -webkit-linear-gradient(right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -o-linear-gradient(right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
}

.variable-title-wrapper {
    overflow: hidden;
}

.variable-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

div.warning-text {
    text-align: center;
    color: red;
}

span.tsa-trigger {
    margin-left: 20px !important;
    margin-top: 6px;
    font-size: 18px;
}
